<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://server.dianwancloud.com:8095/FilesDownLoad/aaios.ipa</string>
				</dict>
				<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://server.dianwancloud.com:8095/FilesDownLoad/aaios57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>http://server.dianwancloud.com:8095/FilesDownLoad/aaios512.png</string>
</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jcxx.mm</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>QQB超级电玩城</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>